body {
    background-color: #232323;
    color: #eee;
    font-family: sans-serif;
}

a {
    color: #dd9900;
    text-decoration: none;
}

a:hover {
    text-decoration: dotted;
}

input:focus {outline:none;}

/* Loading Screen */
.loading-screen {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vmin;
    flex-direction: column;
}

.loading-screen .row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.loading-text {
    font-size: 3rem;
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

@keyframes pulse {
    0% { scale: 0.95; }
    50% { scale: 1.05; }
    100% { scale: 0.95; }
}

.loading-screen #atom-icon {
    height: 4rem;
    margin-right: .8rem;
    animation: spin 4s linear infinite, pulse 3s ease-in-out infinite;
}

.loading-screen.active {
    display: flex;
}

.loading-screen .footnotes {
    display: block;
    position: fixed;
    bottom: 3rem;
    color: #999;
}

#loading-message {
    color: #ddd;
}

@keyframes fade-in {
    from { opacity: 0; transform: translateY(.5rem); }
    to   { opacity: 1; transform: translateY(0); }
}

@keyframes fade-out {
    from { opacity: 1; transform: translateY(0); }
    to   { opacity: 0; transform: translateY(-.5rem); }
}

/* Main App */
main {
    display: none;
}

main.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    margin-bottom: 1.3rem;
}

.nuclide-input {
    background-color: #434343;
    color: white;
    padding: .4rem;
    font-size: 1.1rem;
    border: 1px solid #121212;
    border-radius: .3rem;
}

.btn {
    display: inline-block;
    font-size: 1.1rem;
    padding: .4rem;
    border: 1px solid #121212;
    border-radius: .3rem;
    background-color: #434343;
    color: white;
    cursor: pointer;
}

.btn.submit-btn {
    min-width: 5rem;
}

.btn.mode-btn {
    min-width: 15rem;
}

section.pre-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}

section.pre-results > p {
    text-align: center;
}

/* Nuclide Card */
.nuclide-card {
    display: flex;
    border: 2px solid wheat;
    height: 4.5rem;
    width: 4.5rem;
    overflow: hidden;
    background-color: #fff;
    color: #000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nuclide-card > .name {
    font-weight: bold;
    font-size: 1.2rem;
}
.nuclide-card > .time { font-size: .6rem; }
.nuclide-card > .decay { font-size: .6rem; }

.nuclide-card.alpha { background-color: #d9b765; }
.nuclide-card.betap { background-color: #d96565; }
.nuclide-card.betam { background-color: #659bd9; }
.nuclide-card.stable {
    background-color: #000000;
    color: #fff;
}